*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1{
  text-align: center;
}

body{
  background-color: lightblue;
  color: black;
}

.box{
  border: 1px solid black;
  width: 450px;
  height: 450px;
  margin-top: 100px;
  margin-left: 550px;
}